/* Override fonts only when explicitly used */

:root {
  --color-lighthover: #fcf4ff;
  --color-darkhover: #2a004a;
  --color-darktheme: #11001f;
}

.font-ovo {
  font-family: Ovo, serif !important;
}

.font-outfit {
  font-family: Outfit, sans-serif !important;
}